
body{
    font-family: 'Poppins', sans-serif;
}

.navbar1{
    background-color: #F0FFF0;
}






.margin-bar{
    margin-left:100px ;
}

.sign-button{

    border: none;
    background-color: #21B573;
    text-align: center;
    border-radius: 25px;
    margin: auto;
    padding: 13px 30px 13px 30px;
    text-align: center;
    color: white;
}

.home{
    background-color: #F0FFF0;
    
}
.red{
    color: #FD511A;
    font-size: 1rem;
}
.col-md-4 h1{
    font-weight: bold;
    line-height: 70px;
    font-size : 42px
}
.green-bg{
    color: #21B573;
}

.col-md-7 img{

    width: 90%;
    height: 100%;
}

.get-button{

    border: none;
    background-color: #21B573;
    text-align: center;
    border-radius: 25px;
    margin: auto;
    padding: 10px 24px 10px 24px;
    text-align: center;
    color: white;
}

/* .cardi img{
    height: 80px;
    weight 50px
} */

.carde{
    background-color: #F0FFF0;
    box-shadow: 10px 20px 8px lightgray ;
    border: none;
    border-radius:20px;
    font-family: 'Poppins', sans-serif;
}

.card:hover{
    background-color: white;

}




.footer-last{
    background-color: #282531;
    color : white
}

.card-img{
    width: 80px;
}

.cardon{
    background-color: white;
   
    border: none;
    border-radius:20px;
    font-family: 'Poppins', sans-serif;
    padding: 6px 6px 6px 6px;

}


.online-bd{
    border: 1px solid rgb(212, 207, 207);
    border-radius:10px;
    box-shadow: 10px 20px 8px lightgray ;
}



.card-footer:last-child {
    border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px);
}
.card-footer{
    background-color: white;
    border : none;
}
.pdt{
    padding-left: 4px;
    padding-top: 10px;
}

.man-ig{
    width: 100%;
    height 200px;
  margin: auto;
  padding-left: 10px 10px;
  
}
.ft-pad{
    margin-left: 30px;
}

.ftt{
    text-align: center;
}